---
# Only the main Sass file needs front matter (the dashes are enough)
---

// ----- Overrides ------------------------------------------------------------
.ui.menu .item:before {
  content: normal;
}

.ui.navbar.menu {
  z-index: 102;
}

.ui.navbar.grid {
  margin-top: 0;
}

// Change base font size
html, body {
  font-size: 16px;
}

// ----- My Changes -----------------------------------------------------------

.main {
  margin-left: 0!important;
  margin-right: 0!important;
}

