<div class="ui fixed large navbar menu">
  <div class="ui navbar grid">
    <div class="ui row">
      <div class="four wide left aligned column">
        <a href="#" class="topics icon item">
          <i class="content icon"></i>
        </a>
      </div>
      <div class="eight wide computer only column">
        <a class="item" href="{{ site.baseurl }}/">
          GPI
        </a>
        {% include navigation.html %}
      </div>
      <div class="eight wide center aligned mobile tablet only column">
        <a class="item" href="{{ site.baseurl }}/">
          <b>GPI</b>
        </a>
      </div>
      <div class="four wide right aligned mobile tablet only column">
        <a href="#" class="navigation icon item">
          <i class="toggle down icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>
