<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ '/javascripts/lib/semantic.min.js' | prepend: site.baseprefix }}"></script>
<script src="{{ '/javascripts/main.js' | prepend: site.baseprefix }}"></script>
{% if page.script %}
  <script src="{{ page.script | prepend: site.baseprefix }}"></script>
{% elsif page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script | prepend: site.baseprefix }}"></script>
  {% endfor %}
{% endif %}
