<div class="ui left vertical topics sidebar menu">
  <a class="item header">Topics</a>
{% assign pages_sorted = site.pages | sort: 'order' %}
{% for topic in pages_sorted %}
  {% if topic.group == 'topic' %}
    {% comment %}
      Active if page is the current topic page or page is lesson of the current topic
    {% endcomment %}
    <div class="teal item{% if topic.topic == page.topic or topic.topic == page.group %} active{% endif %}">
      <a href="{{ topic.url | replace:'index.html','' | prepend: site.baseurl }}">
        {{ topic.title }}
      </a>
      {% comment %}
        Only display a sub menu if there are items inside it
      {% endcomment %}
      {% capture lessons %}
        {% for lesson in pages_sorted %}
          {% if lesson.group == topic.topic %}
            <a href="{{ lesson.url | replace:'index.html','' | prepend: site.baseurl }}"
               class="item{% if lesson.url == page.url %} active{% endif %}">
              {{ lesson.title }}
            </a>
          {% endif %}
        {% endfor %}
      {% endcapture %}
      {% capture lessons_stripped %}{{ lessons | strip }}{% endcapture %}
      {% if lessons_stripped != '' %}
        <div class="menu">
          {{ lessons }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>
